{% extends "index.html" %}
{% block content %}
   <div class="home" style="padding-top: 15px;">
	<h2 style="color:#94D500;text-transform: capitalize;">{{ type }} Mixes</h2>
	
			
			{% for m in rows %}
								
			<div class="col-lg-4 col-sm-6 text-center">
				<div style="padding:5px; border:1px solid #94D500;">
                <a href="{{ url_for('genre', id=m['id']) }}"><img class="img-circle img-responsive img-center" src="{{ url_for('static', filename='img/album/'+m['alb_img']) }}" alt="{{ m['mix_name'] }}"></a>
                <h3>{{ m['artist'] }} - 
                    <small>{{ m['mix_name'] }}</small>
                </h3>                
				</div>
            </div>
			{% endfor %}            

        </div>
        <!-- /.row -->
   </div>
   </div>
 {% endblock %}