<html>
<head>
  <title>My Music Catalogue</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet">  
  <style>
    body{ 
      padding-top: 50px;
    } 
  </style>
</head>
<body>	
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color:#94D500;" href="{{ url_for('root') }}"><i class="fa fa-headphones" aria-hidden="true"></i> My Music</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a {%- if request.path == "/" %} class="active" {% endif %} href="{{ url_for('root') }}"><i class="fa fa-heartbeat" style="color:#94D500;" aria-hidden="true"></i> Favourites</a></li>		
			<li><a href="{{ url_for('catalogue') }}"><i class="fa fa-music" style="color:#94D500;" aria-hidden="true"></i> Genres</a></li>
			<li><a href="{{ url_for('show_all') }}"><i class="fa fa-eye" style="color:#94D500;" aria-hidden="true"></i> Show All</a></li>
			<li><a href="{{ url_for('search') }}">&nbsp;<i class="fa fa-search" style="color:#94D500;" aria-hidden="true"></i>&nbsp;</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if not session.admin %}
			<li><a href="{{ url_for('login') }}"><i class="fa fa-user" style="color:#94D500;" aria-hidden="true"></i>  Login</a></li>			
			{% else %}
			<li><a href="{{ url_for('admin') }}"><i class="fa fa-cogs" style="color:#94D500;" aria-hidden="true"></i>  Admin</a></li>
			<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out" style="color:#94D500;" aria-hidden="true"></i>  Logout</a></li>			
			
			{% endif %}
		</ul>		
       </div>
    </div>
  </nav>

   <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
  
</body>
</html>
